<div class="card rounded-0">
    <div class="d-flex justify-content-center card-header rounded-0" style="background-color: lightgreen;">
        <h5>Igracke u Korpi</h5>
    </div>

    <div class="card-body">
        @if (getToysUKorpi().length==0)
        {
        <br>
        Nista Nije u Korpi.
        <br><br>
        }
        @for (toy of getToysUKorpi(); track $index){
        <div class="accordion accordion-flush" id="accordionFlushExample">

            <div class="accordion-item">

                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#' + toy.Id" aria-expanded="false" aria-controls="item1">
                        <img [src]="'slike/' + toy.Slika" class="zoom-img" width="60" height="60" [alt]="toy.Ime">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{toy.Ime}} - {{toy.cena}} DIN
                    </button>
                </h2>

                <div [id]="toy.Id" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <br>
                    @if (!getopion(toy.Id))
                    {
                    <button type="submit" class="btn btn-warning rounded-4" (click)="addLike(toy.Id)">
                        😊 Svidja mi se!
                    </button><br><br>
                    <button type="submit" class="btn btn-danger rounded-4" (click)="addDislike(toy.Id)">
                        😭 Lose je..
                    </button>
                    }
                    @else if (getopion2(toy.Id))
                    {
                    <div class="border rounded-2">
                        😊 Vama se Svidja!
                    </div>
                    }
                    @else {
                    <div class="border rounded-2">
                        😭 Vama se Nesvidja...
                    </div>
                    }
                    <br><br><br>
                    😊 {{toy.like}} Like <br>
                    😭 {{toy.dislike}} Dislike <br>
                    Ocena: {{toy.ocena}} <br>
                    Tip igracke: {{toy.tip}} <br>
                    Uzrast: za decu starije od {{toy.uzrast}} godina<br>
                    Cijna Grupa: {{toy.cijnaGrupa}} <br>
                    Godina Proizvodjne: {{toy.datumProizvodnje}} <br>
                    <div class="accordion-body">
                        <button type="submit" class="btn btn-outline-danger rounded-0" (click)="IzbaciIzKorpe(toy.Id)">
                            Izbaci iz korpe
                        </button>
                    </div>

                </div>

            </div>

        </div>
        }
    </div>
</div>
<div class="card rounded-0">
    <div class="card-body">
        <button type="submit" class="btn btn-success rounded-0" (click)="kupi()">
            Kupi Korpu
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Puna cena: {{getCelaCena()}} DIN
    </div>
</div>
<br><br>
<div class="card rounded-0">
    <div class="d-flex justify-content-center card-header rounded-0" style="background-color: lightgreen;">
        <h5>Kupjene Igracke</h5>
    </div>

    <div class="card-body">
        @if (getToysKupjene().length==0)
        {
        <br>
        Nista Nije Kupjeno.
        <br><br>
        }
        @for (toy of getToysKupjene(); track $index){
        <div class="accordion accordion-flush" id="accordionFlushExample">

            <div class="accordion-item">

                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#' + toy.Id" aria-expanded="false" aria-controls="item1">
                        <img [src]="'slike/' + toy.Slika" class="zoom-img" width="60" height="60" [alt]="toy.Ime">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{toy.Ime}} - {{toy.cena}} DIN
                    </button>
                </h2>

                <div [id]="toy.Id" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <br>
                    {{toy.cijnaGrupa}} |
                    {{toy.tip}} |
                    {{toy.Opis}} |
                    {{toy.uzrast}} |
                    {{toy.datumProizvodnje}}
                    <div class="accordion-body">
                    </div>
                    <button type="submit" class="btn btn-outline-danger rounded-0" (click)="IzbaciIzKorpe(toy.Id)">
                        Vrati u Prodavnicu
                    </button><br><br>
                </div>

            </div>

        </div>
        }
    </div>
</div>
<div class="card rounded-0">
    <div class="card-body">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Puna cena: {{getCenaKupjenog()}} DIN
    </div>
</div>