<img src="grin.jpg" width="1090" height="350" class="zoom-imge">
<br>
<div class="row">
    <div class="col-13 col-md-12 mb-3">
        <form class="d-flex" role="search">
            <input [(ngModel)]="serc" name="serc" class="form-control me-2" type="search" placeholder="Search..."
                aria-label="Search" (input)="search()">
        </form>
    </div>
    <div class="col-3 col-md-2 mb-3">
        <select class="form-select" [(ngModel)]="tip" (change)="search()">
            <option value="svi">Svi tipovi</option>
            @for (tipp of getTipovi(); track $index) {
            <option [value]="tipp">{{tipp}}</option>
            }
        </select>
    </div>
    <div class="col-3 col-md-2 mb-3">
        <select class="form-select" [(ngModel)]="kome" (change)="search()">
            <option value="svi">Za Decake i Devojcice</option>
            <option value="decak">Za Decake</option>
            <option value="devoj">Za Devojcice</option>
        </select>
    </div>
    <div class="col-3 col-md-2 mb-3">
        <select class="form-select" [(ngModel)]="datum" (change)="search()">
            <option value="0">Bilo Koje vreme</option>
            @for (date of getDatum(); track $index) {
            <option [value]="date">{{date}}.</option>
            }
        </select>
    </div>
    <div class="col-2 col-md-2 mb-3">
        <select class="form-select" [(ngModel)]="selectedRating" (change)="search()">
            <option value="svi">Recenzije Korisnika</option>
            <option value="positive">Positivne</option>
            <option value="negative">Negativne</option>
        </select>
    </div>
    <div class="col-2 col-md-2 mb-3">
        <label>Min Cena: {{min}} din.</label>
        <input type="range" min="0" max="3000" step="1" [(ngModel)]="min" (change)="search()">
        <label>Max Cena: {{max}} din.</label>
        <input type="range" min="0" max="3000" step="1" [(ngModel)]="max" (change)="search()">
    </div>
</div>
<div class="flights">
    @for (toy of igracke(); track $index)
    {
    <div class="card " style="overflow: hidden;">
        <img [src]="'slike/' + toy.Slika" class="card-img-top zoom-img" [alt]="toy.Ime">
        <div class="card-body">
            <h5 class="card-title">{{toy.Ime}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                Ocena: {{toy.ocena}} <br>
                Tip: {{toy.tip}} <br>
                Uzrast: {{toy.uzrast}}<br>
                Cijna Grupa: {{toy.cijnaGrupa}} <br>
                Godina Proizvodjne: {{toy.datumProizvodnje}} <br>
                fali recenzije.
                <!-- {{toy.flightNumber}} ({{utils.formatDate(flight.scheduledAt)}}) -->
            </h6>
            <p>
                {{toy.Opis}}<br><br>
                Status: {{toy.status}}
            </p>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center">
                <br><b>Cena: {{toy.cena}} Dinara<br></b>
            </div>
            @if (!DaliJeUKorpi(toy.Id))
            {
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary" (click)="UbaciUKorpu(toy.Id)">
                    Dodaj u korpu
                </button>
            </div>
            }
            @else {
            <div class="d-flex justify-content-center " style="background-color: lightgreen;">
                Dodato u Korpu!
            </div>
            }
        </div>
    </div>
    }
</div>
@if (igracke().length == 0) {
<div class="text-center">
    <h5>Nemozemo naci takvu igracku.</h5>
    <br><br><br><br><br><br><br><br><br><br><br> <!-- malo je hladno ovde..-->
    <br><br><br><br><br><br><br><br><br><br><br>
</div>
}