.flights {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card {
    width: 18rem;
}

.zoom-img {
  transition: transform 0.5s ease;
}

.zoom-img:hover {
  transform: scale(1.1);
}

.zoom-imge {
  transition: transform 3s ease;
}

.zoom-imge:hover {
  transform: scale(0.8)
}