.flights {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card {
    width: 18rem;
}

.zoom-img {
  transition: transform 0.5s ease;
}

.zoom-img:hover {
  transform: scale(1.1);
}

.zoom-imge {
  transition: transform 0.3s ease;
}

.zoom-imge:hover {
  transform: scale(0.97)
}

.announcement-bar {
    background-color: lightgreen;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    height: 40px;
    display: flex;
    align-items: center;
}

.announcement-content {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}